html, body, #map {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    margin-left: 250px;
}

.map-components {
    display: none;
}

.left-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    background: #fff;
    border-right: 1px solid #ccc;
    overflow-y: scroll;
}

.sidebar-header {
    background: #eee;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.sidebar-header h4 {
    margin: 0;
}

.sidebar-header .btn {
    margin-top: -2px;
    margin-right: -2px;
}

.sidebar-subheader {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.sidebar-subheader h4 {
    margin: 0;
    font-size: 11pt;
}

.dataset-list-item {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.dataset-list-item .glyphicon {
    cursor: pointer;
    margin-left: 8px;
}

.dataset-list-item .name {
    margin-left: 16px;
    font-size: 10pt;
}

.dataset-list-item .toggle {
    margin-top: -2px;
}

.settings {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.settings select, .settings input {
    display: block;
}

.settings label {
    margin-right: 5px;
    font-size: 9pt;
}
